<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">



		<!--  spring.properties includes all the parameters listed below.  -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:spring.properties</value>
		</property>
	</bean>

	<!-- SALESFORCE -->
	<bean id="salesforceSession"
		class="com.modelmetrics.common.sforce.SalesforceSessionNewImpl"
		scope="prototype" />

	<bean id="salesforceService"
		class="com.modelmetrics.cloudconverter.mmimport.services.impl.SalesforceServiceImpl" >
		<property name="salesforceCredentials" ref="salesforceCredentials" />
	</bean>
	
	<bean id="fileService"
		class="com.modelmetrics.cloudconverter.mmimport.services.impl.FileServiceImpl" />
	
	<bean id="salesforceCredentials"
		class="com.modelmetrics.common.sforce.SalesforceCredentials" >
	</bean>

	<bean id="uploadAction" scope="prototype"
		class="com.modelmetrics.cloudconverter.mmimport.actions.UploadAction">
		<property name="fileService" ref="fileService" />
		<property name="salesforceService" ref="salesforceService" />
	</bean>


</beans>

